%section#top-header.row
  .main-header_wrapper
    .parent-container
      = link_to image_tag "/images/yelp_icon.png"
      %form.form-inline.search-form
        .input-group
          %input.form-control(type="text")
          %span.input-group-btn
            .btn.btn-secondary(type="submit")
              %span.sr-only Search
              %span.glyphicon.glyphicon-search.white
%section#sub-header.row
