%section.business_show.container
  .row.business_card
    .company_info.col-md-6
      %h3.text-uppercase Tasha's Sweet Tea
      .btn-group.star-rating(data-toggle="buttons")
        %label.btn.btn-primary.disabled(for="rating-5")      
          %input(type="radio" name="rating-5" id="rating-5")
          %span.glyphicon.glyphicon-star
        %label.btn.btn-primary.active.disabled(for="rating-4")        
          %input(type="radio" name="rating-4" id="rating-4")
          %span.glyphicon.glyphicon-star
        %label.btn.btn-primary.disabled(for="rating-3")          
          %input(type="radio" name="rating-3" id="rating-3")
          %span.glyphicon.glyphicon-star
        %label.btn.btn-primary.disabled(for="rating-2")          
          %input(type="radio" name="rating-2" id="rating-2")
          %span.glyphicon.glyphicon-star
        %label.btn.btn-primary.disabled(for="rating-1")          
          %input(type="radio" name="rating-1" id="rating-1")
          %span.glyphicon.glyphicon-star           
      %span.muted 42 reviews
    %div.col-md-3
      .review_button.ybtn
        %span.glyphicon.glyphicon-star        
        Write a Review  
    .company_contact.col-md-3.address
      42 Berthside St.
      %br/
      Medfield, MA 02231
      %br/      
      740-230-1441
%section.business_reviews
  .reviews
    .row.col-md-9
      = image_tag '/images/profile_1.jpg'
      .reviewer-info
        = link_to 'Jen. Y', '#'
        Boston, MA
        .muted 230 Reviews
      .btn-group.star-rating.small-rating(data-toggle="buttons")
        %label.btn.btn-primary.disabled(for="rating-5")      
          %input(type="radio" name="rating-5" id="rating-5")
          %span.glyphicon.glyphicon-star
        %label.btn.btn-primary.active.disabled(for="rating-4")        
          %input(type="radio" name="rating-4" id="rating-4")
          %span.glyphicon.glyphicon-star
        %label.btn.btn-primary.disabled(for="rating-3")          
          %input(type="radio" name="rating-3" id="rating-3")
          %span.glyphicon.glyphicon-star
        %label.btn.btn-primary.disabled(for="rating-2")          
          %input(type="radio" name="rating-2" id="rating-2")
          %span.glyphicon.glyphicon-star
        %label.btn.btn-primary.disabled(for="rating-1")          
          %input(type="radio" name="rating-1" id="rating-1")
          %span.glyphicon.glyphicon-star
      %span.muted 02/20/2010
      .review-preview
        I love Tasha's bubble tea! It makes my day. Sometimes I come by here after work and I just can't decide on which flavor to get. And then I have to decide boba, or not boba. It's just crazy! ... read more

  .company_side-bar.col-md-3
    I have hours here.
