.business_show.container
  padding: 40px 220px
  width: 100%
  background: #f5f5f5
  .company_contact
    margin-top: 18px  

.business_reviews.container
  background: #fff

.review_button.ybtn
  margin-top: 22px