section#top-header
  background: #d32323 url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/15ee41b0c3b2/assets/img/structural/header_stars@2x.png) no-repeat center
  background-size: 1135px auto, 100%
  .main-header_wrapper
    padding: 12px 0
    height: 60px
    .parent-container
      height: 100%
      padding: 0 158px
      form
        margin-left: 15px
        display: inline-block
        input.form-control
          width: 690px
        span.input-group-btn
          .btn
            background: #bd1f1f
      .btn.white
        font-weight: bold
        background: #bd1f1f
        margin-left: 15px        
section#sub-header
  background: #bd1f1f
  height: 27px