#new-review
  .star-rating
    margin: 30px 50px 10px 50px
  textarea
    margin: 20px 50px 10px 50px
  a
    display: inline-block
    margin: 40px 0 20px 50px
  .form-group
    button.ybtn
      &:hover
        margin: 20px 0 20px 50px
    button.ybtn
      margin: 20px 0 20px 50px    